<div class="container">
	<div class="row">
		<div class="small-8 columns">
			<h2>Mowgli? What?</h2>
			<p>Don't ask questions. Answer questions. Thats what this place is for.</p>
		</div>
		<div class="small-4 columns">
			<h2>Recent Surveys</h2>
			<div class="survey-block">
			<p>...soon</p>
			</div>
		</div>
	</div>
</div>